body{   /* <body> 태그 선택자 배경 색 파란색으로 지정 */
  background-color: 	rgba(65, 63, 103, 0.4);
  }

.bg-color-modal{
  background-color: rgba(41,37,67,0.7);
}
.bg-color-bright-modal{
  background-color: white;
}
.bg-color-roundary-bright-modal{
  background-color: rgb(181, 180, 179);
}

.bg-roundary-modal{
  background-color: rgb(31,26,61);
}